repos:

- repo: local
  hooks:
  - id: ruff-check
    name: ruff-check
    entry: ruff
    language: python
    types: [python]
    args: [check, --fix]

  - id: ruff-format
    name: ruff-format
    entry: ruff
    language: python
    types: [python]
    args: [format]

- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy
    language: python
    types: [python]
    args: ['--show-error-codes']
