dist: xenial # required for python3.7
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -e .
  - pip install -r test/requirements.txt
script:
  - ruff check klon/ test/
  - pytest test/
